.lists {
  width: 300px;
  height: fit-content;
  min-height: 200px;
  background-color: beige;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

.task {
  background-color: rgb(214, 214, 214);
  margin: 15px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgb(22, 22, 22);
}
